.bg{
	background-image: url('back1.jpg');
	background-size: cover;
	width: auto;
	height: auto;
}


.cover {
	width: 20rem;
}

.btn1{
     background: #3B5998;
  color: white;
}
.fb{
  background: #3B5998;
  color: blue;   
}
.divider{
	width: 250px;
	height: auto;
	display: inline-block;
}


.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}
.col {
 
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}


